<a href="https://colab.research.google.com/github/Anjasfedo/data-analysis/blob/main/Polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import polars as pl

pl.__version__

'0.20.2'

In [6]:
series = pl.Series('age', [24, 20, 55, 44, 77, 16])

series

shape: (6,)
Series: 'age' [i64]
[
	24
	20
	55
	44
	77
	16
]